# Ignore all virtual environments and dependency folders
venv/
env/
*/venv/
*/env/
**/venv/
**/env/

# Ignore Python cache files
__pycache__/
**/__pycache__/




# Ignore Python virtual environment
AI_DA/Lib/
AI_DA/Include/
AI_DA/Scripts/
AI_DA/pyvenv.cfg

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp
